<div class="container-fluid text-center">
    <h1>Editing Project</h1><br>

    <div class="container-fluid">
        <div class="card">
            <%= render 'form', project: @project %>
        </div>
    </div>

    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
</div>