<div class="container-fluid text-center">
    <h1>New Project</h1>

    <%= render 'form', project: @project %>

    <button class="btn btn-outline-dark">
        <%= link_to 'Back', projects_path %>
    </button>
</div>